@charset "utf-8";
/* CSS Document */

/*============================================
*style
============================================*/
* {
	margin: 0; padding:0; 	/*全要素のマージン・パディングをリセット*/
} 
body {
	color: #000000; /* 全体の文字色 */
	font-size: 100%; /* 全体の文字サイズ */
	background-color: rgb(225,225,225);	/*ページ全体の背景色*/
	text-align:center;		/*IE6以下でセンタリングするための対策*/
}

a {
	text-decoration:none;
}

/*============================================
header
============================================*/
#bar {
	width:950px;
	height:20px;
	margin:0 auto;
}
#bar_ {
	width:auto;
	height:20px;
}
#bar_style {
	float:right;
	width:auto;
	height:18px;
	text-align:right;
	font-size:12px;
	padding:3px 0px 0px 0px;
	margin:0 auto;
}
#style_menu {
	display:none;
	width:100%;
	height:auto;
	position:relative;
	z-index:999;
	top:3px;
	background-color:rgba(0,0,0,0.5);
	padding:0px 0px;
	text-align:center;
	font-family: Verdana, Geneva, sans-serif !important;
}
#defult{
	color:rgb(235,235,235);
}
#bar_lang {
	float:right;
	width:auto;
	height:18px;
	text-align:right;
	font-size:12px;
	padding:3px 0px 0px 0px;
	margin:0 auto;
}
#lang_menu {
	display:none;
	width:100%;
	height:auto;
	position:relative;
	z-index:999;
	top:3px;
	background-color:rgba(0,0,0,0.5);
	padding:5px 0px;
	text-align:center;
}
.lang_button {
	width:100%;
	font-size:14px;
	position:relative;
	z-index:999;
	padding:10px 0px;
	margin:0 auto;
}

#header {
	z-index:100;
	height:110px;
	margin:0 auto;
}
#logo {
	z-index:100;
	position: absolute;
	background:rgba(255,255,255,0.85);
	-webkit-animation-name:'feed_logo';
	-webkit-animation-duration:0.5s;
	-webkit-animation-timing-function: linear;
	width:100%;
	height:110px;
}
#logo_img {
	width:479px;
	height:70px;
	z-index:101;
	position: relative;	
	top: 15px;
	background-repeat: no-repeat;
	-webkit-animation-name:'appear';
	-webkit-animation-delay:1s;
	-webkit-animation-duration:0.3s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function: linear;
	margin:0 auto;
	text-align:left;
}
#logo_text {
	position:relative;
	top:65px;
	text-align:center;
	color:rgb(160,160,164);
	font-family: Verdana, Geneva, sans-serif !important;
}
#l_menu {
	z-index:102;
	position:relative;
	margin:0 auto;
	left:-375px;
	background: -webkit-gradient(linear, left top, left bottom,
									from(rgba(255,255,255,0.8)),
									color-stop(0.7,rgba(255,255,255,0.8)),
									to(rgba(255,255,255,0)));
	-webkit-animation-name:'feed_l_menu';
	-webkit-animation-delay:0.2s;
	-webkit-animation-duration:0.5s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function: linear;
	width:150px;
	height:900px;
}
/*============================================
l_menu
============================================*/
#main_menu {
	width:150px;
	padding:50px 0px;
}
#livee {
	top:5px;
	left:30px;
	position:relative;
	width:90px;
	height:90px;
	background-image:url("../img/livee.png");
	background-repeat: no-repeat;
	-webkit-animation-name:'appear';
	-webkit-animation-delay:0.4s;
	-webkit-animation-duration:0.8s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function: linear;
}
.menu_button {
	width:150px;
	padding:10px 0px;
	margin:20px 0px;
	font-size:20px;
	font-weight: bold;
	color:rgb(92,92,92);
	text-shadow: 0 0 2px rgb(92,92,92);
	-webkit-animation-name:'appear';
	-webkit-animation-duration:0.3s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function: linear;
}
.click {
	background:rgba(0,0,0,0.3);
	color:rgb(235,235,235);
	text-Shadow: 0 0 2px rgb(235,235,235);
}
/*============================================
content
============================================*/

#content {
	z-index:9;
	position: relative;
    width:950px;
	height:800px;
	margin:0 auto;
}
#content_top {
	position: absolute;
    width:755px;
	height:777px;
	left:175px;
	background: rgba(0,0,0,0.22);
	padding: 10px;
}

#content_gomap {
	position: absolute;
	height:777px;
    width:755px;
	left:175px;
	background: rgba(0,0,0,0.22);
	padding: 10px;
}
#content_graph {
	position: absolute;
	height:777px;
    width:755px;
	left:175px;
	background: rgba(0,0,0,0.22);
	padding: 10px;
}
#content_about {
	position: absolute;
	height:777px;
    width:755px;
	left:175px;
	background: rgba(0,0,0,0.22);
	padding: 10px;
}
#content_developers {
	position: absolute;
	height:777px;
    width:755px;
	left:175px;
	background: rgba(0,0,0,0.22);
	padding: 10px;
}

.appear {
	-webkit-animation-name:'appear';
	-webkit-animation-delay:0.3s;
	-webkit-animation-duration:0.5s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function: linear;
}
.disappear {
	-webkit-animation-name:'disappear';
	-webkit-animation-duration:0.3s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function: linear;
}

/*============================================
footer
============================================*/

#footer {
	height:18px;
    width:950px;
	margin:0 auto;
	font-size: 10.5pt;
	color:#2A1F55;
	font-family: Verdana, Geneva, sans-serif !important;
}

/*============================================
animation
============================================*/
@-webkit-keyframes 'feed_l_menu' {
	0% { 
		width:150px;
		height:0px;
		background: -webkit-gradient(linear, left top, left bottom,
			from(rgba(255,255,255,0.85)),
			color-stop(0.7,rgba(255,255,255,0.85)),
			to(rgba(255,255,255,0)));
	}
	100% {
		width:150px;
		height:900px;
		background: -webkit-gradient(linear, left top, left bottom,
			from(rgba(255,255,255,0.85)),
			color-stop(0.7,rgba(255,255,255,0.85)),
			to(rgba(255,255,255,0)));
	}
}
@-webkit-keyframes 'feed_logo' {
	0% {
		width:0px;
		height:110px;
	}
	100% {
		width:1920px;
		height:110px;
	}
}
@-webkit-keyframes 'appear' {
	0% {
		opacity:0;
	}
	20% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-webkit-keyframes 'disappear' {
	0% {
		opacity:1;
	}
	80% {
		opacity:0;
	}
	100% {
		opacity:0;
	}
}


.fontf {
	font-family: Verdana, Geneva, sans-serif !important;
}

.radius {
	border-radius:0.3em;
	border:solid 10px rgba(0,0,0,0.5);
}